<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Semicolon.org.dao.CreateOrgDAO">

    <insert id="createOrganization" parameterType="com.Semicolon.org.dto.CreateOrgDTO" useGeneratedKeys="true" keyProperty="orId">
        <selectKey keyProperty="orId" resultType="int" order="BEFORE">
            SELECT ORGANIZATION_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO ORGANIZATION (
            OR_ID,
            OR_NAME,
            OR_CREATE_DATE,
            OR_INTRODUCE,
            OR_IS_PUBLIC,
            MEMBER_ID,
            MEMBER_ROLE
        ) VALUES (
            #{orId},
            #{orName},
            SYSDATE,
            #{orIntroduce},
            #{orIsPublic},
            #{memberId},
            #{memberRole}
        )
    </insert>
    
    <insert id="insertInvitedMember" parameterType="map">
        INSERT INTO ORGANIZATION_INVITATION (
            OR_ID,
            MEMBER_ID,
            INVITE_STATUS
        ) VALUES (
            #{orId},
            #{memberId},
            '초대됨'
        )
    </insert>
</mapper>
