<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Report-Mapper">

	<!-- 프로젝트별 전체 리포트 개수 조회 (페이징용) -->
	<select id="selectReportCount" resultType="int"
		parameterType="ReportPageMaker">
		SELECT COUNT(*)
		FROM REPORT
		<where>
			<if test="projectId != null and projectId != ''">
				PROJECT_ID = #{projectId}
			</if>
		</where>
	</select>

	<!-- 프로젝트별 리포트 리스트 조회 (페이징 적용) -->
	<select id="selectReportList" resultType="report"
		parameterType="reportPageMaker">
		SELECT * FROM REPORT
		WHERE PROJECT_ID = #{projectId}
		ORDER BY RNO DESC
	</select>

	<!-- 시퀀스 조회 -->
	<select id="selectReportSequenceNextValue" resultType="int">
		SELECT REPORT_SEQ.NEXTVAL FROM DUAL
	</select>

	<!-- 특정 보고서 조회 -->
	<select id="selectReportByRno" parameterType="int"
		resultType="report">
		SELECT
		RNO,
		PROJECT_ID,
		TITLE,
		WRITER,
		CONTENT,
		REGDATE,
		REPORTDATE,
		PMCHECK
		FROM REPORT
		WHERE RNO = #{rno}
	</select>

	<!-- 보고서 등록 (프로젝트별) -->
	<insert id="insertReport" parameterType="report">
		INSERT INTO REPORT (
		RNO,
		PROJECT_ID,
		TITLE,
		WRITER,
		CONTENT,
		REPORTDATE
		) VALUES (
		#{rno},
		#{projectId},
		#{title},
		#{writer},
		#{content},
		#{reportDate}
		)
	</insert>

	<!-- 보고서 수정 -->
	<update id="updateReport" parameterType="report">
		UPDATE REPORT
		SET
		TITLE = #{title},
		CONTENT = #{content},
		REPORTDATE = #{reportDate}
		WHERE RNO = #{rno}
	</update>

	<!-- 보고서 삭제 -->
	<delete id="deleteReport" parameterType="int">
		DELETE FROM REPORT
		WHERE RNO = #{rno}
	</delete>

</mapper>
