<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Semicolon.org.dao.OrgDetailDAO">
	<select id="selectOrgIdByUserId" parameterType="string" resultType="string">
    	SELECT OR_ID
    	FROM engineer
    	WHERE user_id = #{userId}
	</select>
	
    <select id="selectOrgById" parameterType="string" resultType="com.Semicolon.org.dto.OrgDetailDTO">
        SELECT 
            OR_ID           AS orId,
            OR_NAME         AS orName,
            OR_IS_PUBLIC    AS orIsPublic,
            OR_INTRODUCE    AS orIntroduce,
            OR_CREATE_DATE  AS orCreateDate,
            OR_MANAGER_ID   AS orManagerId,
            OR_LINK_ADDRESS AS orLinkAddress
        FROM ORGANIZATION
        WHERE OR_ID = #{orId}
    </select>
    
    <update id="updateOrg" parameterType="com.Semicolon.org.dto.OrgDetailDTO">
        UPDATE ORGANIZATION
        SET 
            OR_NAME = #{orName},
            OR_IS_PUBLIC = #{orIsPublic},
            OR_INTRODUCE = #{orIntroduce},
            OR_LINK_ADDRESS = #{orLinkAddress}
        WHERE OR_ID = #{orId}
    </update>

    <update id="deleteOrg" parameterType="string">
    UPDATE ORGANIZATION
    SET 
        or_delete_date = SYSDATE
    WHERE 
        OR_ID = #{orId}
</update>

</mapper>